:root {
    --light-green: #38817d;
    --content: #222222;
    --dark-green: #47A59F;
    --textWhite: #E7DFDD;
    --textDark: rgb(66, 66, 68);
    --grey: rgb(205, 206, 207);
    --maroon: #81383C;
    --purple: #583881;
}  

body {
    height: 100%;
    margin: 0;
    display: flex;
    font-family: 'Abel-Regular';
    display: flex;
    
}

@font-face {
    font-family: 'Abel-Regular';
    src: url('fonts/Abel-Regular.ttf');
}


.addNew {
    height: 5%;
    position: fixed;
    left: 27%;
    top: 94%;
}



.sidebar {
    height: 100vh;
    width: 25%;
    margin: 0;
    background-color: var(--light-green);
    color: var(--textWhite);
    display: flex;
    flex-direction: column;
    
}

.sidebarBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.home, .today, .scheduled, .all, .projects {
    font-size: 26px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding-left: 20%;
    padding-top: 7%;
    padding-bottom: 7%;
    color: var(--textWhite);
   
}

.home:hover, .today:hover, .scheduled:hover, .all:hover, .projects:hover {
    color: white;
    
    background-color: var(--dark-green);
   
}


.content {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;   
}  

#today, #scheduled, #all, #projects {
    height: 100%;
    width: 90%;
    display: none;
    flex-direction: column;
    align-items: center;
}

#home {
    display: flex;
}

#today, #scheduled, #projects {
    font-size: 24px;
    
}



.toDo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 10%;
    width: 80%;
    border-bottom: solid grey 1px;
}

#inputField {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
    width: 500px;
    border: solid grey 1px;
    border-radius: 2%;
    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#inputField > form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonBox {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

.buttonBox h1 {
    color: var(--textDark);
}

.titleAndNotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30%;
    width: 90%;
    border: solid grey 1px;
    border-radius: 10px;
    margin: 10px;
}

.dateAndTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30%;
    width: 90%;
    border: solid grey 1px;
    border-radius: 10px;
    margin: 10px;
}

.date, .time {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

#date, #time {
    
}

#title, #notes {
    height: 40%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: white;
    color: var(--content);
}

.divider {
    height: 1px;
    width: 90%;
    background-color: grey;
}

.submit, #cancel {
    background-color: transparent;
    border: none;
    color: var(--light-green);
    font-size: 1em;
    font-weight: bold;
}

.submit {
    color: grey;
}

