:root {
    --header: rgb(98, 98, 223);
    --content: white;
    --sidebar: rgb(224, 232, 255);
    --textWhite: white;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    font-family: 'Abel-Regular';
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 10% 719px;
}

@font-face {
    font-family: 'Abel-Regular';
    src: url('fonts/Abel-Regular.ttf');
}


.header {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    background-color: var(--header);
    color: var(--textWhite);
}

.logo {
    height: 40%;
    width: 40%;
}

.logoBox {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    grid-column: 1;
    grid-row: 2 / span 2;
    background-color: var(--sidebar);
}


.content {
    grid-column: 2;
    grid-row: 2 / span 2;
    background-color: var(--content);    
}    